<app-navbar></app-navbar>

<mat-card class="mat-elevation-z5">
  <mat-card-header>
    <mat-card-title>
      About this site
    </mat-card-title>
  </mat-card-header>
  <mat-divider>

  </mat-divider>
  <mat-card-content>
    <b>Gemaakt door:</b><br>
    Wouter Gritter<br>
    Joes Vos<br>
    Robert Boekholt<br>
    Stijn Doeleman<br>
  </mat-card-content>
  <mat-card-content>
    <b>In opdracht van:</b><br>
    Hanzehogeschool Groningen
  </mat-card-content>
</mat-card>

<app-footer></app-footer>
