<app-navbar></app-navbar>

<mat-card>
  <mat-card-header>
    <mat-card-title>
      About this site
    </mat-card-title>
  </mat-card-header>

  <mat-divider></mat-divider>

  <mat-card-content>
    <b>Gemaakt door:</b><br>
    Wouter Gritter<br>
    Joes Vos<br>
    Robert Boekholt<br>
    Stijn Doeleman<br>
    <br>
    <br>
    <b>In opdracht van:</b><br>
    Hanzehogeschool Groningen
    <br>
    <br>
    <b>Source code:</b><br>
    <a href="https://github.com/Joesv/project2.4-front" target="_blank">Frontend</a><br>
    <a href="https://github.com/Joesv/project2.4-backend" target="_blank">Backend</a>
  </mat-card-content>
  <mat-card-content>
    <share-buttons [autoSetMeta]="false"
                   [image]="'https://upload.wikimedia.org/wikipedia/commons/thumb/4/49/Google_Home_with_Home_Hub_and_Home_Mini_on_table.jpg/1200px-Google_Home_with_Home_Hub_and_Home_Mini_on_table.jpg'"
                   [include]="['facebook','twitter','whatsapp','linkedin','pinterest','reddit','messenger','email','copy']"
                   [show]="6"
                   [size]="1"
                   [theme]="'modern-light'"
                   [url]="'https://www.GeewgleHeum.com/'"
    ></share-buttons>
  </mat-card-content>

</mat-card>

<app-footer></app-footer>
