<mat-toolbar color = "primary">

  <h1>My Application</h1>
    <ul class="nav-links">
      <li>
        <a href="/home">Home</a>
      </li>
      <li>
        <a href="about">About</a>
      </li>
      <li>
        <a href="work">Work</a>
      </li>
      <li>
        <a href="projects">Projects</a>
      </li>
      <li>
        <ng-container *ngIf="keyExists">
          <app-logout></app-logout>
        </ng-container>
        <ng-container *ngIf="!keyExists">
          <app-login-link-button></app-login-link-button>
        </ng-container>
      </li>
    </ul>
</mat-toolbar>
