<mat-toolbar color="primary">

  <h1>Geewgle Heum</h1>

  <div class="outlineRight">
    <ul class="nav-links" fxHide fxShow.gt-md>
      <li>
        <a *ngIf="keyExists" href="/home">Home</a>
      </li>
      <li>
        <a href="about">About</a>
      </li>
      <li>
        <a href="help">Help</a>
      </li>
    </ul>

    <button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" fxHide fxShow.lt-lg mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button *ngIf="keyExists" [routerLink]="['/home']" mat-menu-item>
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button [routerLink]="['/about']" mat-menu-item>
        <mat-icon>info</mat-icon>
        <span>About</span>
      </button>
      <button [routerLink]="['/help']" mat-menu-item>
        <mat-icon>help_outline</mat-icon>
        <span>Help</span>
      </button>
    </mat-menu>

    <ng-container *ngIf="keyExists">
      <app-logout></app-logout>
    </ng-container>
    <ng-container *ngIf="!keyExists">
      <app-login-link-button></app-login-link-button>
    </ng-container>
  </div>

</mat-toolbar>
