<mat-toolbar color = "primary">

  <h1>Geewgle Heum</h1>

  <div class="outlineRight" >
    <ul class="nav-links" fxHide fxShow.gt-md>
      <li>
        <a href="/home" *ngIf="keyExists">Home</a>
      </li>
      <li>
        <a href="about">About</a>
      </li>
      <li>
        <a href="help">Help</a>
      </li>
    </ul>

    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" fxHide fxShow.lt-lg>
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button *ngIf="keyExists" mat-menu-item [routerLink]="['/home']">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-menu-item [routerLink]="['/about']">
        <mat-icon>info</mat-icon>
        <span>About</span>
      </button>
      <button mat-menu-item [routerLink]="['/help']">
        <mat-icon>help_outline</mat-icon>
        <span>Help</span>
      </button>
    </mat-menu>

    <ng-container *ngIf="keyExists">
      <app-logout></app-logout>
    </ng-container>
    <ng-container *ngIf="!keyExists">
      <app-login-link-button></app-login-link-button>
    </ng-container>
  </div>

</mat-toolbar>
