* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: darkturquoise;
}

.logo {
  color: ghostwhite;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 36%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: ghostwhite;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 14px;
  padding: 10px;
}

mat-toolbar {
  width: 100vw;
}

.outlineRight {
  position: absolute;
  display: flex;
  justify-content: space-around;
  right: 1em;
}
