*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.spacer{
  flex: 1 1 auto;
}


.nav-links{
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 50%;
  right: 3em;
}

.nav-links li{
  list-style: none;
}



.nav-links a{
  color: lightgray;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 15px;
}

.nav-links a:hover {
  color: white;
}
