mat-card {
  width: 380px;
  display: inline-block;
}

mat-card-content {
  margin-top: 1em;
}

.card-container-right {
  display: inline;
  float: right;
}

.card-container-left {
  display: inline;
}
