<mat-card *ngIf="!deleted" [@fadeInOut]>
  <mat-card-header>
    <mat-card-title class="card-container-left">{{ deviceTitle }}</mat-card-title>

    <mat-card-title class="card-container-right">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="edit()">
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
        <button mat-menu-item (click)="delete()">
          <mat-icon>delete_outline</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    </mat-card-title>

    <mat-card-subtitle>{{ deviceType }}</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <ng-content></ng-content>
  </mat-card-content>
</mat-card>
