<mat-card>
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <form>
      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="username">
        </mat-form-field>
      </p>


      <p>
        <mat-form-field>
          <input type="password" matInput placeholder="password">
        </mat-form-field>
      </p>

    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="primary">Login!</button>
    <p>No account yet? <button mat-button>Register!</button></p>
  </mat-card-actions>
</mat-card>
