mat-card {
  max-width: 380px;
  margin: 15% auto auto;
  text-align: center;

}
mat-card-title {
  color: whitesmoke;
  padding: 1em;
}
mat-form-field {
  padding-top: 0.3em;
}
mat-card-header {
  background-color: rebeccapurple;
  padding: 1em;
}

* {
  overflow:hidden;
}

.button {
  /*TODO fix button spread*/
  margin: 10em;
}

.no-account {
  margin: 1em;
}
