<form class="create-lamp-form" [formGroup]="form">
  <mat-form-field appearance="fill" floatLabel="always" class="full-width-form-field">
    <mat-label>Device name</mat-label>
    <input matInput placeholder="Ex. Living room light" value="" formControlName="name">
  </mat-form-field>

  <mat-form-field appearance="fill" floatLabel="always" class="full-width-form-field">
    <mat-label>Device description</mat-label>
    <textarea matInput placeholder="Ex. The light in the center of..." formControlName="description"></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill" floatLabel="always" class="full-width-form-field">
    <mat-label>ON url</mat-label>
    <input matInput placeholder="http://1.1.1.1/on" formControlName="on_url">
  </mat-form-field>

  <mat-form-field appearance="fill" floatLabel="always" class="full-width-form-field">
    <mat-label>OFF url</mat-label>
    <input matInput placeholder="http://1.1.1.1/off" formControlName="off_url">
  </mat-form-field>

  <button type="submit" mat-raised-button color="primary" (click)="create()">Create device</button>
  <button mat-raised-button color="accent" (click)="cancel()">Cancel</button>
</form>
