<form [formGroup]="form" class="create-lamp-form">
  <mat-form-field appearance="fill" class="full-width-form-field" floatLabel="always">
    <mat-label>Device name</mat-label>
    <input formControlName="name" matInput placeholder="Ex. Living room light" value="">
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width-form-field" floatLabel="always">
    <mat-label>Device description</mat-label>
    <textarea formControlName="description" matInput placeholder="Ex. The light in the center of..."></textarea>
  </mat-form-field>

  <span class="help-text">
    This URL will be requested using GET when the lamp is to be turned on, and will only succeed if it returns code 200.
  </span>
  <mat-form-field appearance="fill" class="full-width-form-field" floatLabel="always">
    <mat-label>ON url</mat-label>
    <input formControlName="on_url" matInput placeholder="http://1.1.1.1/on">
  </mat-form-field>

  <span class="help-text">
    This URL will be requested using GET when the lamp is to be turned off, and will only succeed if it returns code 200.
  </span>
  <mat-form-field appearance="fill" class="full-width-form-field" floatLabel="always">
    <mat-label>OFF url</mat-label>
    <input formControlName="off_url" matInput placeholder="http://1.1.1.1/off">
  </mat-form-field>

  <button (click)="create()" color="primary" mat-raised-button type="submit">Create device</button>
  <button (click)="cancel()" color="accent" mat-raised-button>Cancel</button>
</form>
