<app-device (onDelete)="deleteDummy()" [deviceTitle]="dummy.name" [deviceType]="dummy.dummy_type" fxFlexAlign="stretch">
  {{ dummy.description }}
  <br>
  <div *ngIf="dummy.dummy_type == 'Coffee machine'">
    <mat-slide-toggle (change)="changeStatus($event.checked)" [checked]="dummy.value == 1"></mat-slide-toggle>
  </div>

  <div *ngIf="dummy.dummy_type == 'Sprinklers'">
    <mat-slide-toggle (change)="changeStatus($event.checked)" [checked]="dummy.value == 1"></mat-slide-toggle>
  </div>

  <div *ngIf="dummy.dummy_type == 'Roller shutter'">
    <mat-slider (change)='changeStatus($event.value)' [value]="dummy.value" [displayWith]="formatLabel" aria-label="units" max="100" min="0" step="1" thumbLabel></mat-slider>
  </div>

</app-device>
