<app-device [deviceTitle]="dummy.name" [deviceType]="dummy.dummy_type" fxFlexAlign="stretch">
  {{ dummy.description }}
  <br>
  <div *ngIf="dummy.dummy_type == 'Coffee machine'">
    <mat-slide-toggle [checked]="dummy.value == 1" (change)="changeStatus($event.checked)"></mat-slide-toggle>
  </div>

  <div *ngIf="dummy.dummy_type == 'Roller shutter'">
    <mat-slider thumbLabel  min="0" max="100" step="1"  aria-label="units" [value]="dummy.value" (change)='changeStatus($event.value)'></mat-slider>
  </div>

</app-device>
