<form [formGroup]="form" class="create-lamp-form">
  <mat-form-field appearance="fill" class="full-width-form-field" floatLabel="always">
    <mat-label>Device name</mat-label>
    <input formControlName="name" matInput placeholder="Ex. Coffee machine" value="">
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width-form-field" floatLabel="always">
    <mat-label>Device description</mat-label>
    <textarea formControlName="description" matInput placeholder="Ex. Coffee machine in the kitchen..."></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width-form-field" floatLabel="always">
    <mat-label>Type</mat-label>
    <mat-select formControlName="dummy_type">
      <mat-option value="Coffee machine">Coffee machine</mat-option>
      <mat-option value="thermostat">Thermostat</mat-option>
      <mat-option value="Roller shutter">Roller shutter</mat-option>
    </mat-select>
  </mat-form-field>

  <button (click)="create()" color="primary" mat-raised-button type="submit">Create device</button>
  <button (click)="cancel()" color="accent" mat-raised-button>Cancel</button>
</form>
