<app-abstract-device deviceTitle="awesome device" deviceType="lamp"></app-abstract-device>
<app-abstract-device deviceTitle="such cool" deviceType="lamp"></app-abstract-device>
<app-abstract-device deviceTitle="wow amazing" deviceType="temperature sensor"></app-abstract-device>
<app-abstract-device deviceTitle="such wow"></app-abstract-device>
<app-abstract-device deviceTitle="im already"></app-abstract-device>
<app-abstract-device deviceTitle="running out of"></app-abstract-device>
<app-abstract-device deviceTitle="name ideas"></app-abstract-device>
<app-abstract-device></app-abstract-device>
