*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

mat-card {
  max-width: 380px;
  margin: 15% auto auto;
  text-align: center;
}
mat-card-header {
  background-color: rebeccapurple;
}
mat-card-title {
  padding: 1em;
  background-color: rebeccapurple;
  color: whitesmoke;
}

mat-form-field {
  padding-top: 0.1em;
}

mat-card-content {
  margin: 3em;
}
* {
  overflow:hidden;
}

